<div class="row">
    <div class="col-12">
        <h3>Image Gallery</h3>
        <p>Welcome in an example of <strong>Node.js</strong> with <strong>Express</strong>. You will find here some
            examples of routing, image upload with <strong>Multer</strong> and data retrival from <strong>MongoDB</strong>
            through <strong>Mongoose</strong>. You can access REST API or explore the interface build with <strong>Handlebars</strong>.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{#each images}}
                <img class="swiper-slide" src="{{url}}" alt="{{title}}" />
                {{/each}}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>