<h3>Image Upload</h3>
<p>This is just a little image upload example made with Express and Multer</p>
<form action="/api/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="image" />
    <br />
    <button type="submit">Send</button>
</form>