<div class="row">
    <div class="col-12 col-md-4 offset-md-4">
        <div class="card border-info mb-3" style="max-width: 20rem;">
            <div class="card-header"><i class="fas fa-user"></i>&nbsp;Register</div>
            <div class="card-body">
                <form action="/register" method="POST">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="User name" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="Email - login" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="pass1" class="form-control" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="pass2" class="form-control" placeholder="Retype password" />
                    </div>                    
                    <button class="btn btn-info">Register</button>
                </form>
            </div>
        </div>
        <p>Already has an account? <a href="/">Login here!</a></p>
    </div>
</div>